<div class="search-container" (focusout)="closeResults()">
  <nz-input-group [nzPrefix]="searchIcon" [nzSuffix]="loadingIcon" class="search-input">
    <input
      type="text"
      nz-input
      [placeholder]="placeholder()" [formControl]="searchControl"
      (focus)="showResults.set(true)"
    />
  </nz-input-group>

  <ng-template #searchIcon>
    <span nz-icon nzType="search"></span>
  </ng-template>

  <ng-template #loadingIcon>
    @if (isLoading()) {
      <nz-spin nzSimple [nzSize]="'small'"></nz-spin>
    }
  </ng-template>

  @if (showResults() && searchControl.value) {
    <div class="results-dropdown">
      @if (!isLoading() && searchResults().length > 0) {
        <ul class="results-list">
          @for (result of searchResults(); track result.questionId) {
            <li class="result-item" (mousedown)="selectQuestion(result.questionId)">
              <span class="result-title">{{ result.title }}</span>
              <span class="result-author">by {{ result.author.username }}</span>
            </li>
          }
        </ul>
      } @else if (!isLoading() && searchResults().length === 0 && searchControl.value.length > 1) {
        <div class="no-results">
          No results found for "{{ searchControl.value }}"
        </div>
      }
    </div>
  }
</div>