<nz-header>
  <div class="navbar-content">
    <div class="navbar-left">
      <a routerLink="/" class="logo">
        <span class="themed-logo"></span>
      </a>
      <div class="main-nav-links">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        <a class="nav-link" routerLink="/universities" routerLinkActive="active">Universities</a>
      </div>
    </div>

    <div class="navbar-center">
      <app-search-bar />
    </div>

    <div class="navbar-right">
      @if (isBrowser()) {
        <nz-switch
          [ngModel]="isDarkMode()"
          (ngModelChange)="toggleTheme($event)"
          [nzCheckedChildren]="iconMoon"
          [nzUnCheckedChildren]="iconSun"
        ></nz-switch>
        <ng-template #iconSun><span nz-icon nzType="sun"></span></ng-template>
        <ng-template #iconMoon><span nz-icon nzType="moon"></span></ng-template>
        @if (isUserLoggedIn()) {
          <button (click)="toggleChatWidget()" nz-button nzType="text" nzShape="circle" class="action-icon" nz-tooltip nzTooltipTitle="Chat">
            <span nz-icon nzType="message" nzTheme="outline"></span>
          </button>
          
          <app-notification-dropdown></app-notification-dropdown>


          <a nz-dropdown [nzDropdownMenu]="userMenu" nzPlacement="bottomRight" class="user-profile">
            <nz-avatar nzIcon="user" [nzSrc]="currentUser()?.profilePhotoUrl ?? undefined"></nz-avatar>
          </a>
          <nz-dropdown-menu #userMenu="nzDropdownMenu">
            <ul nz-menu>
              <div class="dropdown-header">
                Signed in as <strong>{{ currentUser()?.username }}</strong>
              </div>
              <li nz-menu-divider></li>
              <li nz-menu-item [routerLink]="['/users', currentUser()?.userId]"><span nz-icon nzType="user"></span> My Profile</li>
              <li nz-menu-item routerLink="/settings"><span nz-icon nzType="setting"></span> Settings</li>
              <li nz-menu-divider></li>
              <li nz-menu-item (click)="logout()"><span nz-icon nzType="logout"></span> Logout</li>
            </ul>
          </nz-dropdown-menu>
        } @else {
          <a routerLink="/login"><button nz-button nzType="default" class="btn-secondary">Login</button></a>
          <a routerLink="/register"><button nz-button nzType="primary" class="btn-primary">Register</button></a>
        }
      }
      <button nz-button nzType="text" (click)="openMobileDrawer()" class="mobile-menu-trigger" aria-label="Open menu">
        <span nz-icon nzType="menu"></span>
      </button>
    </div>
  </div>
</nz-header>

<nz-drawer
  [nzClosable]="true"
  [nzVisible]="isMobileDrawerVisible()"
  (nzOnClose)="closeMobileDrawer()"
  [nzWidth]="'85vw'"
  nzPlacement="right"
  nzTitle="Menu"
>
  <ng-container *nzDrawerContent>
    <div class="mobile-search-wrapper">
      <app-search-bar />
    </div>
    <ul nz-menu nzMode="inline" [nzTheme]="menuTheme()">
      <li nz-menu-item (click)="closeMobileDrawer()" routerLink="/">Home</li>
      <li nz-menu-item (click)="closeMobileDrawer()" routerLink="/universities">Universities</li>
      <li nz-menu-divider></li>
      @if (isUserLoggedIn()) {
        <li nz-menu-item (click)="closeMobileDrawer()" [routerLink]="['/users', currentUser()?.userId]">My Profile</li>
        <li nz-menu-item (click)="closeMobileDrawer()" routerLink="/settings">Settings</li>
        <li nz-menu-item (click)="closeMobileDrawer()" routerLink="/qa/ask">Ask Question</li>
        <li nz-menu-divider></li>
        <li nz-menu-item (click)="logout(); closeMobileDrawer()">Logout</li>
      } @else {
        <li nz-menu-item (click)="closeMobileDrawer()" routerLink="/login">Login</li>
        <li nz-menu-item (click)="closeMobileDrawer()" routerLink="/register">Register</li>
      }
    </ul>
  </ng-container>
</nz-drawer>