<div class="auth-container">
  <div class="auth-form">
    <div class="flex justify-center mb-4">
      <img src="assets/images/TunivLogo.svg" alt="Tuniv Logo" class="h-12 w-12" />
    </div>
    <h2 class="form-title">Reset Your Password</h2>
    
    @if (token()) {
      <p class="form-subtitle">Please enter a new password for your account.</p>

      <form nz-form [formGroup]="resetPasswordForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Password must be at least 6 characters">
            <nz-input-group [nzSuffix]="suffixTemplate" nzPrefixIcon="lock">
              <input 
                [type]="passwordVisible() ? 'text' : 'password'" 
                nz-input 
                formControlName="password" 
                placeholder="New Password" 
              />
            </nz-input-group>
            <ng-template #suffixTemplate>
              <span nz-icon [nzType]="passwordVisible() ? 'eye' : 'eye-invisible'" (click)="passwordVisible.set(!passwordVisible())"></span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
  
        <nz-form-item>
          <nz-form-control [nzErrorTip]="passwordErrorTpl">
            <nz-input-group [nzSuffix]="confirmSuffixTemplate" nzPrefixIcon="lock">
              <input 
                [type]="confirmPasswordVisible() ? 'text' : 'password'" 
                nz-input 
                formControlName="confirmPassword" 
                placeholder="Confirm New Password" 
              />
            </nz-input-group>
            <ng-template #confirmSuffixTemplate>
              <span nz-icon [nzType]="confirmPasswordVisible() ? 'eye' : 'eye-invisible'" (click)="confirmPasswordVisible.set(!confirmPasswordVisible())"></span>
            </ng-template>
          </nz-form-control>
          <ng-template #passwordErrorTpl let-control>
            @if (control.hasError('required')) { Please confirm your new password }
            @if (control.hasError('passwordsMismatch')) { Passwords do not match! }
          </ng-template>
        </nz-form-item>
  
        @if(errorMessage()) {
          <nz-alert class="mb-4" nzType="error" [nzMessage]="errorMessage()" nzShowIcon></nz-alert>
        }
  
        <button nz-button class="w-full mt-2" nzType="primary" [nzLoading]="isLoading()" [disabled]="resetPasswordForm.invalid">
          Set New Password
        </button>
      </form>
    } @else {
      <nz-alert class="mb-4" nzType="error" [nzMessage]="errorMessage()" nzShowIcon></nz-alert>
      <a routerLink="/login" nz-button nzType="link" class="w-full">Back to Login</a>
    }
  </div>
</div>