<div class="auth-container">
  <div class="auth-form">
    <div class="flex justify-center mb-4">
      <img src="assets/images/TunivLogo.svg" alt="Tuniv Logo" class="h-12 w-12" />
    </div>
    <h2 class="form-title">Forgot Your Password?</h2>
    <p class="form-subtitle">
      No worries, we'll send you reset instructions.
    </p>

    @if (successMessage()) {
      <nz-alert
        class="mb-4"
        nzType="success"
        [nzMessage]="successMessage()"
        nzShowIcon
      ></nz-alert>
      <a routerLink="/login" nz-button nzType="link" class="w-full"
        >Back to Login</a
      >
    } @else {
      <form
        nz-form
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="submitForm()"
      >
        <nz-form-item>
          <nz-form-control nzErrorTip="Please enter a valid email address">
            <nz-input-group nzPrefixIcon="mail">
              <input
                type="email"
                nz-input
                formControlName="email"
                placeholder="Your Email Address"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        @if (errorMessage()) {
          <nz-alert
            class="mb-4"
            nzType="error"
            [nzMessage]="errorMessage()"
            nzShowIcon
          ></nz-alert>
        }

        <button
          nz-button
          class="w-full"
          nzType="primary"
          [nzLoading]="isLoading()"
          [disabled]="forgotPasswordForm.invalid"
        >
          Send Reset Link
        </button>

        <div class="mt-6 text-center text-text-secondary">
          <a
            routerLink="/login"
            class="font-medium text-primary hover:text-primary-hover"
            >Back to Login</a
          >
        </div>
      </form>
    }
  </div>
</div>